body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family:"Courier New", Courier, monospace;
	background-color: black;
	color: teal;
}

.navbar {
  margin-bottom: 20px;
}


.btn-primary {
    color: teal;
    background-color: white;
    border-color: #2E6DA4;
    

}


.buttons {
	float: center;
}