body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family:"Courier New", Courier, monospace;

	color: teal;
}

.navbar {
  margin-bottom: 20px;
    font-family:"Courier New", Courier, monospace;
}
.navbar-brand{
 font-family:"Courier New", Courier, monospace;
}

.btn-primary {
     
    right: 100px;
    border: 3px solid #73AD21;
    color: teal;
    background-color: white;
    border-color: teal;
      font-family:"Courier New", Courier, monospace;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   }