body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family:"Courier New", Courier, monospace;
	background-color: black;
	color: teal;
}

.navbar {
  margin-bottom: 20px;
}

#buttons {

	padding-left: 20px;

}