[submodule "slider"]
	path = slider
	url = https://github.com/tkryager/slider.git
[submodule "jqueryFAQ"]
	path = jqueryFAQ
	url = https://github.com/tkryager/jqueryFAQ.git
[submodule "electricDreams"]
	path = electricDreams
	url = https://github.com/tkryager/electricDreams.git
[submodule "MADlibs"]
	path = MADlibs
	url = https://github.com/tkryager/MADlibs.git
[submodule "lightbox"]
	path = lightbox
	url = https://github.com/tkryager/lightbox.git
[submodule "time"]
	path = time
	url = https://github.com/tkryager/time.git
