[submodule "slider"]
	path = slider
	url = https://github.com/tkryager/slider.git
[submodule "jqueryFAQ"]
	path = jqueryFAQ
	url = https://github.com/tkryager/jqueryFAQ.git
[submodule "electricDreams"]
	path = electricDreams
	url = https://github.com/tkryager/electricDreams.git
